<template>
  <div class="mod-home">
    <h3>项目介绍</h3>
    <ul>
      <li>模板工程</li>
      <li>正在开发中</li>
    </ul>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>
  .mod-home {
    line-height: 1.5;
  }
</style>

